@media screen and (max-width: 1092px)
{
  .inspiradorSection
  {
    margin: 9% 1%;
  }
}

@media screen and (max-width: 767px)
{
  .inspiradorSection
  {
    grid-template-columns: 1fr;
    grid-gap: 0%;
    margin: 30% 5%;
    font-size: 150%;
  }

  .cond, .conv
  {
    border: 0px;
    padding-bottom: 5%

  }

  .conv
  {
    border-bottom: 1px solid black;
  }
}


@media screen and (max-width: 480px)
{

}

@media screen and (max-width: 320px)
{


}
