@media screen and (max-width: 1092px)
{
  .hero
  {
    font-size: 190%;
  }

}

@media screen and (max-width: 767px)
{
  .hero
  {
    top: 0;
    grid-template-columns: 1fr;
    font-size: 200%;
  }

  .himg
  {
    margin-top: 45px;
  }



  .h5d
  {
    background-color:  #95abbf;
    width: 100%;
    text-align: center;
  }

}


@media screen and (max-width: 480px)
{
  .himg
  {
    margin-top: 45px;
  }
}

@media screen and (max-width: 320px)
{


}
