@media screen and (max-width: 1092px)
{
}

@media screen and (max-width: 767px)
{



    .div h3
    {
      font-size: 140%;
      margin-bottom: 0;
    }

    .diplomas
    {
      margin: 7%;
      flex-direction: column;

      width: 100%;


    }

    .diplomas img
    {

      margin: 2%;
      align-items: center;

        max-width: 70%;

    }  
}


@media screen and (max-width: 480px)
{

}

@media screen and (max-width: 320px)
{


}
