@media screen and (max-width: 1092px)
{


}

@media screen and (max-width: 767px)
{
  .diplomas
  {
    grid-template-columns: 1fr ;
    font-size:100%;
    border: 1px solid rgba(216, 216, 216, .7);
  }

  .diplomas:hover
  {
    transform: scale(1.1, 1);
    font-size: 150%;
  }
}


@media screen and (max-width: 480px)
{

}

@media screen and (max-width: 320px)
{


}
