@media screen and (max-width: 1092px)
{


}

@media screen and (max-width: 767px)
{
  .menu
  {
    grid-template-columns: 1fr;
    font-size: 200%;
    justify-items: center;
    position: relative;
    align-content: center;
  }

  .menu nav
  {
    grid-template-columns: 1fr;
    position: fixed;
    top: -1000px;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(3, 16%);
    justify-items: center;
    align-content: center;
    background-color: rgba(28, 28, 28, .9);
    transition: 1s;
  }

  .icon-menu
  {
    font-size: 200%;
    position: fixed;
    display: grid;
  }
}


@media screen and (max-width: 480px)
{

}

@media screen and (max-width: 320px)
{


}
