.ar
{
  padding: 0 10%;
  font-family: 'Kodchasan', arial;
  color: white;
  grid-template-columns: 70% 28%;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 200%;

}

.cf
{
  background-color: black;

}

.ar a
{
  color: #474dff;
  transition: 1s;
}

.ar:hover a
{
  font-size: 105%;
}



.ar h5, h6
{
 margin: 10px;
}

.ar img
{

  max-width: 100%;
}

#ari
{
  grid-template-columns:  28% 70%;

}
