body
{
  margin: 0;

  font-family: 'Kodchasan', agency FB;
}

.heroSection
{
  display: flex;
  flex-wrap: wrap;
}

.hero
{
  margin:0;

  height: 500px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;



  font-size: 200%;


  background-image: url('../images/hero-wa.jpg');
  background-size: 1600px 500px;

  border-bottom: 1px solid;
  border-color: #DEDEDE;
}



.hero strong
{
  color: blue;
}

.hero img
{

  display: flex;
  align-self: flex-end;

  max-height:  95%;
}

/*@media screen and (max-width: 768px)
{
  body
  {
    border: 100px solid;
  }
}*/
