.div
{
  display: grid;
  text-align: center;
  font-size: 140%;
  margin: 0;
}

.div h3
{
  margin: 0;

}

.diplomasSection
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;

  padding: 3%;
}



.diplomas
{
  display: grid;
  grid-template-columns: 362px 1fr;
  grid-template-rows: 1fr;
  font-size: 149%;
  margin: 0;
  align-items: center;
  width: 90%;




  position: relative;
  text-align: center;

  transition:  1s ease;

  background-color: rgba(216, 216, 216, .7);



}



.diplomas img
{
  display: block;
  max-width: 100%;


  transition:  1s ease;
}




.diplomas:hover
{
  transform: scale(1.1, 1);
  font-size: 200%;
}

.diplomas:hover img
{
}
