body
{
  margin: 0;

  font-family: 'Kodchasan', system-ui;
}


.herojr
{

  height: 500px;
}

.hero
{
  height: 100%;
  position: relative;
  top: 70px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
  justify-items: center;

  justify-content: center;

  margin:0;

  font-size: 300%;


  background-image: url('../images/hero-wa.jpg');
  background-size: 100% 100%;

  border-bottom: 1px solid;
  border-color: #DEDEDE;
}



.hero strong
{
  color: blue;
}

.himg
{
  margin-top: 30%;
  width: 219px;
  height: 406px;
  background-image: url('../images/ani.png');

  animation-name: sonic;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(10);
}

@keyframes sonic
{

  100%
  {
    background-position: -2190px 0;
  }
}
