


.inspiradorSection
{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2,1fr);
  font-size: 240%;

  margin: 9% 11%;
}

.cond, .conv
{

  width: 100%;

  display: grid;
  justify-items: center;
}

.cond
{
  border-left: 1px solid;
}

.cond img
{
  
  width: 88%;
}

.conv
{

  text-align: center;

}


.inspiradorSection strong
{
  color: blue;
}


.video
{

  width: 88%;
  height: 0;
  position: relative;
  padding-top: 47.6%;
}


.inspiradorVideo
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
