.div
{
  display: grid;
  text-align: center;
  font-size: 140%;
  margin: 0;
}

.div h3
{
  margin: 0;
  margin-bottom: 1%;
}

.diplomasSection, #diplomaoculto
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;

  padding: 0 3%;
}



.diplomas
{
  display: grid;
  grid-template-columns: 362px 1fr;
  grid-template-rows: 1fr;
  font-size: 149%;
  margin: 0;
  align-items: center;
  width: 90%;




  position: relative;
  text-align: center;

  transition:  1s ease;

  background-color: rgba(216, 216, 216, .7);



}

#meme
{
  color: red;
  background-image: url("../images/ug.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



.diplomas img
{
  display: block;
  max-width: 100%;


  transition:  1s ease;
}




.diplomas:hover
{
  transform: scale(1.1, 1);
  font-size: 200%;
}

.diplomas:hover img
{
}

#ms
{
  display: grid;
  justify-content: center;
  text-decoration: underline;

  font-size: 200%;
  margin:  15% ;
  text-align: center;


}





#diplomaoculto
{
  display: none;
  animation-name: dpo;
  animation-duration: .5s;
  animation-play-state: paused;
  padding: 10px 3%;
  justify-content: center;
}

@keyframes dpo
{
  0%
  {
    transform: translatex(-100vw);
  }



  100%
  {

    transform: translatex(0px);
  }
}

@keyframes dpi
{
  100%
  {
    transform: translatex(100vw);
  }


  0%
  {
    transform: translatex(0px);
  }
}
