.footer
{
  display: grid;
  justify-items: center;
  background-color: black;
  color: white;
  grid-gap: 5px;
  padding: 10px;
}

.footerLogo
{
  max-width:   5%;
}

.footerContacto
{


}

.footerGmail
{
  margin: 0;
}
