.inspirador2Section
{
  display: flex;
  margin-left: 200px;
  margin-right: 5px;
}

.inspirador2
{
  margin: 60px 0;
  width: 1450px;

  font-size: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #DEDEDE;

  box-shadow: 10px 10px #F7F7F7;
}

.inspirador2 img
{

  width: 500px;
  height: 300px;
}
