.menu
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;

  border-bottom: 2px solid;

  background-color: white;
}

.menu img
{
  width: 70px;
  height: 70px;
}

.menu nav
{
  display: flex;
  align-items: center;
}

.menu li
{
  display: flex;

  list-style: none;

  margin: 0 10px;

}

.menu a
{
  display: flex;
  align-items: center;

  text-decoration: none;

  color: black;

  height: 60px;

}
