.div
{
  font-size: 140%;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.diplomasSection
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.diplomas
{
  margin: 0;
  margin-bottom: 20px;

  width:  74%;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  background-color: #DEDEDE;

  box-shadow: 10px 10px #F7F7F7;
}

.diplomas img
{
  margin: 10px;

  max-width: 34%;
}
