.menu
{
 display: grid;
 grid-template-columns: 5% 31%;
 justify-content: space-between;
 background-color: rgba(28, 28, 28, .9);
 position: fixed;
 width: 100vw;
 z-index: 3;
 top: 0px;
}

.menu img
{
  width: 70px;
  height: 70px;
}


.menu nav
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  align-items: center;
}

.menu nav:hover li a
{
  filter: blur(5px);
}

.menu nav li a:hover
{
  filter: blur(0px);
  font-size: 150%;
}


.menu li
{
  list-style: none;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.menu a
{
  text-decoration: none;
  color: white;
  transition: 1s;


}
