.inspirador2Section
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 10px;
}

.inspirador2
{
  margin: 60px 0;
  width: 60%;

  font-size: 113%;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;

  background-color: #DEDEDE;

  box-shadow: 10px 10px #F7F7F7;
}

.inspirador2 img
{

  max-width: 40%;
}
