.footer
{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  color: white;
}

.footerLogo
{
  max-width:   5%;
}

.footerContacto
{
  display: flex;
  align-items: center;

}

.footerGmail
{
  flex-wrap: wrap;
  display: flex;
  font-size: 74%;

  margin: 0;
}

.footerGit
{
  width: 40px;
  height: 40px;

  text-decoration: none;
  margin: 0 10px;
}

.icon-github
{
  font-size: 253%;
  color: white;
  border: 0;
}
